*{
	margin: 0;
	padding: 0;
	/* 防止点击闪烁 */
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	/* 缩放网页，文字大小不变 */
	-webkit-text-size-adjust:none;
	word-break:break-all;/*自动换行*/
	font-family: "微软雅黑";
}

body{
background-color:#efefef;

}
div span p input{
font-family: "微软雅黑";
}
.bottom{
height:40px;line-height:40px;background-color:#2fcc2e;position:fixed;bottom:9px;color:#e0eeea;text-align:center;font-size:15px;border-radius: 6px;    cursor: pointer;width:94%;margin-left:3%;
}
.bottomSpan{
height:40px;position:fixed;bottom:40px;font-size:15px;cursor: pointer;width:94%;margin-left:3%;margin-right:3%;line-height:40px;color:#fff
}
.bottomSpan span:nth-child(1){
width:48%;height:40px;background-color:#666666;position:relative;float: left;border-radius:6px;text-align:center
}
.bottomSpan span:nth-child(2){
width:48%;height:40px;background-color:#30cd2f;position:absolute;margin-left:4%;border-radius:6px;text-align:center
}
.bottomTxt{
height:40px;line-height:20px;position:fixed;bottom:0;color:#979797;text-align:center;font-size:10px;border-radius: 6px; width:94%;margin-left:3%;
}
.meetSt{
height:70px;
border-bottom:1px solid #dddddd;
background-color:#ffffff;
padding:10px 0
}
.testCont{
height:190px;
background-color:#ffffff;
color:#414141
}
.testCont >div{
padding:0 7px;
line-height:30px;
}
.testCont >div >span{
color:#838383
}
.testCont >div >i{
width: 20px;
    height: 20px;
    position: relative;
    background-image: url('../img/time.png');
    margin-right: 3px;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5px;
	    background-position-x: -2px;	
}
.xjhy{
height:50px;
border-bottom:1px solid #dddddd;
background-color:#ffffff;
color:#414141
}
.xjhy div{
padding:0 7px;
line-height:50px;
}
.xjhy >div >input{
    height: 49px;
    width: 100%;
    border: none;
}
.xjhy >div >input:focus{outline: 0;}
.meetSt >div{
padding:0;
line-height:50px;
}
.circle{
height:18px;width:18px;border:1px solid #2fcc2e;border-radius:9px;position:absolute;left:50%;margin-left:-9px;margin-top:16px
}
.circle i {
    height: 8px;
    width: 8px;
    position: absolute;
    background-color: #2fcc2e;
    border-radius: 4px;
    margin-left: 3.5px;
    margin-top: 3.5px;
}
.meetTitle{
height:30px;line-height:30px;font-size:18px;color:#040404;margin:0
}
.meetTitle span{
float:right;font-size:13px;margin-right:10px
} 
.meetTitle i{
    width: 12px;
    height: 15px;
    background-image: url("../img/peo.png");
	position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 7px;
    margin-left: 6px;
}
.meetTime{
height:20px;line-height:20px;font-size:12px;color:#8d8d8d;margin:0
}
.meetTime span{
    color: #33672d;
    margin-left: 11px;
    overflow: hidden;
    height: 20px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
}
.serach{
height:50px;position:fixed;top:0;background-color:#c0bfc5;width:100%;
}
.serach span{
height:20px;
width:20px;position:absolute;
background-image:url('../img/search.png') ;
background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 15px;
    right: 8%;
    margin-right: -10px;
}
.serach input{
width:80%;height:36px;margin-top:7px;margin-left:2%;border-radius:7px;border: 1px #fff solid;padding-left: 5px;
    font-size: 15px;
}
.meetImg{
  height: 50px;
    position: absolute;
    width: 50px;
    left: 50%;
    margin-left: -25px;
}
.nomore{
width:100%;line-height:30px;font-size:15px;color:#969696;text-align:center;margin-left: -15px;position: absolute;
}
.newS{
 height: 110px;
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: #efefef;
    bottom: 0;
	padding-top: 10px;
    background-color: #fff;
	border-top:1px solid #bcbcbc
}
.checkBtn{
height: 25px;
    width: 80px;
    background-color: #cccccc;
    border-radius: 3px;
    float: right;
    margin-right: 10px;
    margin-top: 12px;
}
.checkBtn .left{
height: 23px;
    width: 40px;
    position: absolute;
    background-color: #fff;
    margin-left: -6px;
    margin-top: 1px;
    border-radius: 2px;
}
.checkBtn .right{
height: 23px;
    width: 40px;
    position: absolute;
    background-color: #30CD2F;
    right: 1px;
    margin-top: 1px;
    border-radius: 2px;
}
.add{
    float: right;
	text-align:center;
}
.add span{
color:#2a2a2a;margin-right:3px;font-weight:bold
}
.xjhy select{
float: right;
    height: 49px;
    border: none;
    width: 100px;
	background: none;
}
.xjhy select:focus{
outline:none
}
.testP span:nth-child(1){
height: 40px;
    position: relative;
    float: left;
    width: 40px;
    border: 1px #b6b6b6 solid;
    border-radius: 20px;
    left: 7%;
    margin-left: -20px;color:#333;    font-size: 33px;
    line-height: 35px;
    text-align: center;
	    font-weight: bolder;
}
.testP span:nth-child(3){
width: 18%;
    height: 40px;
    position: relative;
    float: right;
    right: 1%;
    border: 1px solid #bfbfbf;
    border-radius: 7px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
	letter-spacing: 5px;
}
.testP  input{
width:62%;height:40px;    position: relative;
    float: left;
    left: 15%;margin-left:-20px;
	border:#bfbfbf 1px solid;
	 border-radius: 7px;
}
.tstImg{
    height: 40px;
    position: relative;
    width: 40px;
    left: 50%;
    margin-left: -20px;
	padding:0;
	margin-top:10px 
}
.summary{
position:absolute;height:40px;width:45%;background-color:#2fcc2e;float:right;right:10px;border-radius:10px;color:#fff;text-align: center;
    font-size: 15px;line-height: 40px;
    margin-top: 5px;
}
.copy{
position:absolute;height:40px;width:45%;background-color:#fc6100;border-radius:10px;color:#fff;text-align: center;
    font-size: 15px;
	line-height: 40px;
    margin-top: 5px;
}
.num{
border:1px solid #cecece;height: 40px;
    margin: 10px 0px;border-radius: 5px;
}
.num span:nth-child(2){
height:30px;    padding: 0;
    border-right: 1px solid #cecece;
    margin-top: 5px;
    text-align: center;
}
.num span:nth-child(3){
height:30px;    padding: 0;
    margin-top: 5px;
    text-align: center;
}
.num span:nth-child(1){
height:30px;    padding: 0;
    border-right: 1px solid #cecece;
    margin-top: 5px;
    text-align: center;
}
.tname{
line-height:20px;margin:0;padding: 0;
    text-align: center;
}
.peo{
  line-height: 50px;
    height: 50px;
    background-color: #fff;
    margin: 5px 0;padding:0!important
}
.peo span{
  height: 40px;
    background-color: #EFEFEF;
    border: 1px solid #cccccd;
    /* border-radius: 5px; */
    width: 90%;
    margin-left: 5%;
    position: absolute;
    margin-top: 5px;text-algin:center;text-align: center;
    line-height: 40px;
}
.words{
line-height:20px !important;
height: 20px;background-color: #EFEFEF;
}
.check{
 width: 4% !important;
    margin: 0 !important;
    padding: 0 !important;
	height: 41px !important
}
.check input{
    height: 14px !important;
}
.checkTitle{
padding:0 !important;width:37% !important;font-size: 10px !important;
}
#start{
width:60%;border:1px solid #414141;background-color:#fff;color:#414141;border-radius:0;    height: 24px;
    line-height: 24px;
    margin-top: 15px;
}
#pf{
width:60%;border:1px solid #414141;background-color:#fff;color:#414141;border-radius:0;    
}
#end{
width:60%;border:1px solid #414141;background-color:#fff;color:#414141;border-radius:0;    height: 24px;
    line-height: 24px;
    margin-top: 15px;display:none
}
.sign{
border:1px #414141 solid;
height:30px;
line-height:30px;
text-align:center;
width:90px;
margin-top:10px;
}
.sure{
width: 90px;
    height: 40px;
    background-color: #FC6100;
    position: relative;
    float: left;
    margin-bottom: 10px;
    color: #fff !important;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    left: 50%;
    margin-left: -45px;
}
.vacation{
width: 90px;
    height: 40px;
    background-color: #2fcc2e;
    position: relative;
    float: left;
    margin-bottom: 10px;
    color: #fff !important;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    left: 50%;
    margin-left: -45px;
}
.center{
text-align:center;
height:100px !important
}
.counttime{
    border: 1px solid #dddddd;
    padding: 5px 10px;
}
.boxName{
padding:10px
}
.boxName >div{
border:1px solid #414141;height:90px;background-color:#fff;margin-bottom:10px
}
.boxName .col-xs-2 {
border:1px solid #414141;height:40px;margin:25px 5px;padding:0;line-height:40px;text-align:center
}
.boxName .col-xs-3{height:60px;margin:15px 5px;padding:0;width:60px}
.boxName img{
width:60px;height:60px
}
.boxName .col-xs-7{
line-height:90px;margin:0 -10px
}
.testCont .col-xs-12 >p{
margin:0
}
